<!-- Home View -->

<div id="home"
     data-role="view"
     data-title="ประกันคุ้มภัย">

    <br />
    <div style="float: left; width: 40%; align : left" hspace="20">
        <img src="img/SafetyIns160x160.png" width="125px" height="90px" hspace="20" />
    </div>

    <div style="float: right; width: 60%; align : right">
        <br />
        <h1>ตรวจสอบความคุ้มครอง</h1>
    </div>

    <div style="float: left; width: 100%;">
        <h3><br />
            โปรแกรมนี้จัดทำขึ้นเพื่อทำการทดสอบ การพัฒนาโปรแกรม Mobile ด้วย Telerik Platform&trade; 
            โดยการใช้ ส่วนที่เรียกว่า Progress Data Service ในการเชื่อมต่อกับข้อมูล.
            <br />
            <br />
            การจัดการในเรื่องของ session และการเข้าถึงข้อมูลที่เป็น Progress Data Service ที่ใช้กับสำหรับผลิตภัณฑ์ OpenEdge หรือ Progress Rollbase server.
            <br />
            <br />
        </h3>
    </div>
</div>
